@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #1e3a8a;
  --color-secondary: #fdfbf7;
  --color-accent: #f59e0b;
  --color-supporting: #bbf7d0;
  --color-textMain: #1f2937;
  --color-textLight: #4b5563;

  /* Shadows */
  --shadow-soft: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
}

@layer base {
  body {
    @apply bg-secondary text-textMain antialiased selection:bg-accent selection:text-white;
  }
}